@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300&family=Roboto:wght@300&display=swap');

body {
  margin: 0 !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #EEF0F4 !important;
  transition: .3s ease all !important;
  -webkit-transition: .3s ease all !important;
  -moz-transition: .3s ease all !important;
  -ms-transition: .3s ease all !important;
  -o-transition: .3s ease all !important;
  /* overflow-x: hidden; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  height: 30px;
  width: 30px;
}

::placeholder {
  font-family: 'League Spartan', 'Roboto';
}

.InMiddleCourse {
  margin: 0 20px;
}

.blackIcon {
  color: #000;
}

.middleDateBox {
  margin: 0 30px;
}

.reloadSpan {
  color: #B2F042;

}

.modalBtn1 {
  color: #B2F042 !important;
  font-size: 24px !important;
  font-family: 'Play', 'League Spartan', 'Roboto' !important;
  border: 2px solid #B2F042 !important;
  padding: 10px !important;
  transition: .3s ease all !important;
  cursor: pointer;
  text-decoration: none;
  background: transparent !important;
  -webkit-transition: .3s ease all !important;
  -moz-transition: .3s ease all !important;
  -ms-transition: .3s ease all !important;
  -o-transition: .3s ease all !important;
}

.modalBtn1:hover {
  color: #000 !important;
  background: #B2F042 !important;

}

.modalBtn2 {
  display: inline-block;
  background: #000 !important;
  padding: 15px !important;
  color: white !important;
  width: fit-content;
  cursor: pointer;
  text-decoration: none;
  border: none !important;
  border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  -o-border-radius: 0 !important;
}

.modalBtn2:hover {
  color: white;
}

.modalSpan {
  color: #B286FD;

}

.leftItem {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.rightItem {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.ECLabel {
  text-align: left;
  font-size: 22px;

}

.CDText {
  color: #fff;
  font-size: 20px;
}

.SNleft {
  text-align: left;
}

.SNstyle {
  font-size: 22px;
  margin: 0 10px 0 0 !important;
}

.withPseudo {
  position: relative;
  overflow: hidden;
}

.withPseudo::before {
  content: '';
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .4);
  position: absolute;
  top: 0;
  left: 0;
}

.withPseudo::after {
  content: 'СКОРО';
  color: #fff;
  width: 25%;
  height: 210%;
  transform: rotate(60deg);
  background: #B2F042;
  position: absolute;
  top: -55%;
  left: 40%;
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  -o-transform: rotate(60deg);
}

.navActive {
  background: #FFFEFE !important;
}

.firstCourse:hover {
  background: #B2F042;
}

.TDnone {
  text-decoration: none;
}

.bitcoin {
  color: #000;
  font-size: 30px;
  margin: 0 !important;
}

.PseudoBackground {
  overflow: hidden;
}

.PseudoBackground::before {
  content: '';
  position: absolute;
  width: 85%;
  height: 40%;
  transform: rotate(50deg);
  background: #EEF0F4;
  top: 0;
  left: -25%;
  -webkit-transform: rotate(50deg);
  -moz-transform: rotate(50deg);
  -ms-transform: rotate(50deg);
  -o-transform: rotate(50deg);
}

.PseudoBackground::after {
  content: '';
  position: absolute;
  width: 85%;
  height: 40%;
  transform: rotate(50deg);
  background: #EEF0F4;
  top: 0;
  left: 25%;
  -webkit-transform: rotate(50deg);
  -moz-transform: rotate(50deg);
  -ms-transform: rotate(50deg);
  -o-transform: rotate(50deg);
}