@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300&family=Roboto:wght@300&display=swap');

body {
  margin: 0 !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #EEF0F4 !important;
  transition: .3s ease all !important;
  -webkit-transition: .3s ease all !important;
  -moz-transition: .3s ease all !important;
  -ms-transition: .3s ease all !important;
  -o-transition: .3s ease all !important;
  /* overflow-x: hidden; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  height: 30px;
  width: 30px;
}

::placeholder {
  font-family: 'League Spartan', 'Roboto';
}

.InMiddleCourse {
  margin: 0 auto;
}

.blackIcon {
  color: #000;
}

.reloadSpan {
  color: #B2F042;

}

.modalBtn1 {
  color: #B2F042 !important;
  font-size: 24px !important;
  font-family: 'Play', 'League Spartan', 'Roboto' !important;
  border: 2px solid #B2F042 !important;
  padding: 10px !important;
  transition: .3s ease all !important;
  cursor: pointer;
  text-decoration: none;
  background: transparent !important;
  -webkit-transition: .3s ease all !important;
  -moz-transition: .3s ease all !important;
  -ms-transition: .3s ease all !important;
  -o-transition: .3s ease all !important;
}

.modalBtn1:hover {
  color: #000 !important;
  background: #B2F042 !important;

}

.modalBtn2 {
  display: inline-block;
  background: #000 !important;
  padding: 15px !important;
  color: white !important;
  width: fit-content;
  cursor: pointer;
  text-decoration: none;
  border: none !important;
  border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  -o-border-radius: 0 !important;
}

.modalBtn2:hover {
  color: white;
}

.modalSpan {
  color: #B286FD;
}

.lastTextBox {
  background: #B286FD;
}

.leftItem {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.rightItem {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.ECLabel {
  text-align: left;
  font-size: 22px;

}

.CDText {
  color: #fff;
  font-size: 20px;
}

.SNleft {
  text-align: left;
}

.SNstyle {
  font-size: 22px;
  margin: 0 10px 0 0 !important;
}

.withPseudo {
  position: relative;
  overflow: hidden;
}

.withPseudo::before {
  content: '';
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .4);
  position: absolute;
  top: 0;
  left: 0;
}

.withPseudo::after {
  content: '';
  color: #fff;
  width: 25%;
  height: 210%;
  transform: rotate(60deg);
  background: #B2F042;
  position: absolute;
  top: -56%;
  left: 37%;
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  -o-transform: rotate(60deg);
}

.navActive {
  background: #FFFEFE !important;
}

.firstCourse:hover {
  background: #B2F042;
}

.TDnone {
  text-decoration: none;
}

.PseudoBackground {
  overflow: hidden;
}

.PseudoBackground::before {
  content: '';
  position: absolute;
  width: 75%;
  height: 35%;
  transform: rotate(50deg);
  background: #EEF0F4;
  top: 25%;
  left: -15%;
  -webkit-transform: rotate(50deg);
  -moz-transform: rotate(50deg);
  -ms-transform: rotate(50deg);
  -o-transform: rotate(50deg);
}

.PseudoBackground::after {
  content: '';
  position: absolute;
  width: 80%;
  height: 35%;
  background: #EEF0F4;
  transform: rotate(50deg);
  top: 25%;
  left: 40%;
  -webkit-transform: rotate(50deg);
  -moz-transform: rotate(50deg);
  -ms-transform: rotate(50deg);
  -o-transform: rotate(50deg);
}

.icon_menu,
.navMenu {
  display: none !important;
  padding: 0 !important;
}

.videoBox div {
  width: -webkit-fill-available !important;
  height: -webkit-fill-available !important;
}


/* MOBILE VIEWPORT PART****************************************** */


@media(max-width:569px) {

  .withPseudo::after {
    width: 17%;
    height: 350%;
    top: -125%;
    left: 44%;
    -webkit-transform: rotate(67deg);
  }

  .modalBtn1 {
    font-size: 12px !important;
  }

  .modalBtn2 {
    font-size: 14px !important;
  }

  .PseudoBackground::before {
    content: '';
    position: absolute;
    width: 150%;
    height: 10%;
    transform: rotate(50deg);
    background: #EEF0F4;
    top: 55%;
    left: -35%;
    -webkit-transform: rotate(50deg);
    -moz-transform: rotate(50deg);
    -ms-transform: rotate(50deg);
    -o-transform: rotate(50deg);
  }

  .PseudoBackground::after {
    content: '';
    position: absolute;
    width: 160%;
    height: 10%;
    transform: rotate(50deg);
    background: #EEF0F4;
    top: 25%;
    left: -5%;
    -webkit-transform: rotate(50deg);
    -moz-transform: rotate(50deg);
    -ms-transform: rotate(50deg);
    -o-transform: rotate(50deg);
  }
}


@media(max-width:768px) {

  .icon_menu div span,
  .icon_menu div span::before,
  .icon_menu div span::after {
    background-color: #000 !important;
  }

  .icon_menu {
    background: none !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
  }

  .navMenu {
    font-family: 'Play', 'League Spartan', 'Roboto';
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 60px;
    position: absolute;
    left: 0;
    top: -100%;
    opacity: 1;
    transition: .5s ease all;
    -webkit-transition: .5s ease all;
    -moz-transition: .5s ease all;
    -ms-transition: .5s ease all;
    -o-transition: .5s ease all;
  }

  .navMenuActive {
    background: #000;
    top: 70px;
    left: 0;
    opacity: 1;
    transition: .5s ease-in-out all;
    z-index: 1;
    -webkit-transition: .5s ease-in-out all;
    -moz-transition: .5s ease-in-out all;
    -ms-transition: .5s ease-in-out all;
    -o-transition: .5s ease-in-out all;
  }

  .navMenuLinks {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .navMenuLink {
    color: white;
    text-decoration: none;
    font-size: 22px;
    transition: .3s ease all;
    -webkit-transition: .3s ease all;
    -moz-transition: .3s ease all;
    -ms-transition: .3s ease all;
    -o-transition: .3s ease all;
  }

  .navMenuLink:hover {
    color: white;
    -webkit-transition: .3s ease all;
    -moz-transition: .3s ease all;
    -ms-transition: .3s ease all;
    -o-transition: .3s ease all;
  }
}